// Mixins
@import './mixins.scss';

// Variables
$primaryWhite: #ebebeb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Fonts
@font-face {
  font-family: QuicksandRegular;
  src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: QuicksandBold;
  src: url("../fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: QuicksandLight;
  src: url("../fonts/Quicksand-Light.ttf");
}

.App {
  background: linear-gradient(#87A8B9 0%, #0D4560 33%, #0F2635 100%);
  min-height: 100vh;
  font-family: QuicksandRegular;
  color: $primaryWhite;
}

// Nav
nav{
  min-height: 10vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0px;
  align-items: center;
}
.logo {
  cursor: pointer;
  margin-left: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
  cursor: pointer;
  margin-right: 8px;
}

// Main
.main {
  display: grid;
  grid-template-columns: 5% 0.8fr 2.4fr 0.8fr 5%;
}

// About me
@import './components/pages/AboutMe.scss';

// Portfolio
@import './components/pages/Portfolio.scss';


// Commitments
@import './components/pages/Commitments.scss';


// Style for page switcher
@import './components/PageSwitcher.scss';


// Style for social icons
@import './components/SocialIcons.scss';

// Screen responsivness

@media (max-width: 1040px) {
    .pages h3{
        color: transparent;
    }
}

@media (max-width: 600px) {
    .social-container {
        display: none;
    }
    .pages {
        display: none;
    }
}

@media (max-height: 555px) {
  .social-container {
      img{
        height: 20px;
      }
  }
}




