// Mixins
@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Variables

$primaryWhite: #ebebeb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: QuicksandRegular;
  src: url("../src/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: QuicksandBold;
  src: url("../src/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: QuicksandLight;
  src: url("../src/fonts/Quicksand-Light.ttf");
}

.App {
  background: linear-gradient(#87A8B9, #0D4560);
  min-height: 100vh;
  font-family: QuicksandRegular;
  color: $primaryWhite;
}

// Nav

nav{
  min-height: 10vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0px;
  align-items: center;
}
.logo {
  cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
  cursor: pointer;
}

// Main
.main {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 2fr 1fr 5%;
  
}

// About me
.center-container {
  grid-column: 3/4;
  justify-self: center;
  text-align: center;
}

.profile-pic-border {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  border: 3px solid $primaryWhite;
  display: flex;
  @include flexCenter();
  margin: auto;
  :hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
}

.me-img {
  border-radius: 50%;
  height: 250px;
  
}

.about-me-title {
  font-size: 40px;
  padding: 20px;
}
.about-me-text {
  font-family: QuicksandLight;
  font-size: 18px;
}

// Portfolio
.portfolio {
  min-height: 100vh;
  grid-column: 1/6;
}
.box {
    height: 40vh;
    width: 40vh;
    background: red;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
}
.project{
    background: #b8b4b4;
    margin: 5vh;
    height: 25vh;
    width: 25vh;
    list-style: none;
}
.project-title {
    color: black;
}

// Commitments
.commitments {
    min-height: 100vh;
    grid-column: 1/6;
}
.commitments-box {
    height: 40vh;
    width: 40vh;
    background: green;
}

// Style for page switcher
.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
.pages > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }
.pages svg {
    opacity: 0.5;
    cursor: pointer;
    :hover {
        transform: scale(1.4);
        transition: 0.3s ease-in-out;
        transform-origin: center;
    }
}

.active svg{
    opacity: 1;
}
.pages h3 {
    margin: 30px;
}

// Style for social icons
.social-container {
    width: 10vh;
    height: 50vh;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    background: $primaryWhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-around;
    img {
        height: 40px;
    }
    :hover {    
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
        transform-origin: center;
    }
}

// Screen responsivness

@media (max-width: 900px) {
    .pages h3{
        color: transparent;
    }
}

@media (max-width: 600px) {
    .social-container {
        display: none;
    }
}




