*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: QuicksandRegular;
  src: url("../src/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: QuicksandBold;
  src: url("../src/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: QuicksandLight;
  src: url("../src/fonts/Quicksand-Light.ttf");
}

.App {
  background: -webkit-gradient(linear, left top, left bottom, from(#87A8B9), to(#0D4560));
  background: linear-gradient(#87A8B9, #0D4560);
  min-height: 100vh;
  font-family: QuicksandRegular;
  color: #ebebeb;
}

nav {
  min-height: 10vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  cursor: pointer;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 2fr 1fr 5%;
      grid-template-columns: 5% 1fr 2fr 1fr 5%;
}

.about-me {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  min-height: 100vh;
}

.profile-pic-border {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  border: 3px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.profile-pic-border :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.me-img {
  border-radius: 50%;
  height: 250px;
}

.about-me-title {
  font-size: 40px;
  padding: 20px;
}

.about-me-text {
  font-family: QuicksandLight;
  font-size: 18px;
}

.portfolio {
  width: 100%;
  min-height: 100vh;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: center;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-title {
  font-size: 40px;
  padding: 20px;
}

.project {
  border-radius: 50%;
  background: #87A8B9;
  margin: 1vh;
  height: 30vh;
  width: 30vh;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-title {
  color: #ebebeb;
}

.project-image {
  height: 100px;
}

.commitments {
  width: 90%;
  min-height: 100vh;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: center;
}

.commitments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.commitments-title {
  font-size: 40px;
  padding: 20px;
}

.box {
  height: 40vh;
  width: 40vh;
  background: red;
}

.commitment {
  border-radius: 50%;
  background: #87A8B9;
  margin: 5vh;
  height: 25vh;
  width: 25vh;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.commitment-title {
  color: black;
}

.commitment-image {
  height: 100px;
}

.pages {
  position: fixed;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages > div {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

.pages svg {
  opacity: 0.5;
  overflow: visible;
  cursor: pointer;
}

.pages svg :hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.active svg {
  opacity: 1;
}

.pages h3 {
  margin: 30px;
}

.social-container {
  width: 10vh;
  height: 50vh;
  position: fixed;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ebebeb;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-container img {
  height: 40px;
}

.social-container :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 900px) {
  .pages h3 {
    color: transparent;
  }
}

@media (max-width: 600px) {
  .social-container {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */